CREATE DATABASE [LearnEnglishToeic]
USE [LearnEnglishToeic]

USE [LearnEnglishToeic]
GO
/****** Object:  Table [dbo].[article]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [text] NULL,
	[description] [text] NULL,
	[image] [varchar](255) NULL,
	[title] [varchar](255) NULL,
	[url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_grammar]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_grammar](
	[baigrammarid] [int] IDENTITY(1,1) NOT NULL,
	[anhbaigrammar] [varchar](255) NULL,
	[content_html] [text] NULL,
	[content_mark_down] [text] NULL,
	[tenbaigrammar] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[baigrammarid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_tap_doc]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_tap_doc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[do_kho] [int] NOT NULL,
	[part] [int] NOT NULL,
	[script] [text] NULL,
	[ten_bai_doc] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_tap_nghe]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_tap_nghe](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[do_kho] [int] NOT NULL,
	[part] [int] NOT NULL,
	[script] [text] NULL,
	[ten_bai_nghe] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_tap_tu_vung]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_tap_tu_vung](
	[baitaptuvungid] [int] IDENTITY(1,1) NOT NULL,
	[anhbaituvung] [varchar](255) NULL,
	[tenbaituvung] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[baitaptuvungid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bai_thi_thu]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bai_thi_thu](
	[baithithuid] [int] IDENTITY(1,1) NOT NULL,
	[anhbaithithu] [nvarchar](255) NULL,
	[tenbaithithu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[baithithuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cau_hoi_bai_tap_doc]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cau_hoi_bai_tap_doc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cau_hoi] [text] NULL,
	[dap_an_dung] [nvarchar](255) NULL,
	[dap_an_1] [varchar](255) NULL,
	[dap_an_2] [varchar](255) NULL,
	[dap_an_3] [varchar](255) NULL,
	[dap_an_4] [varchar](255) NULL,
	[giai_thich] [nvarchar](255) NULL,
	[paragraph] [text] NULL,
	[so_thu_tu] [varchar](255) NULL,
	[bai_tap_doc_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cau_hoi_bai_tap_nghe]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cau_hoi_bai_tap_nghe](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cau_hoi] [nvarchar](255) NULL,
	[dap_an_dung] [varchar](255) NULL,
	[dap_an_1] [varchar](255) NULL,
	[dap_an_2] [varchar](255) NULL,
	[dap_an_3] [varchar](255) NULL,
	[dap_an_4] [varchar](255) NULL,
	[giai_thich] [text] NULL,
	[photo_name] [nvarchar](255) NULL,
	[script] [text] NULL,
	[so_thu_tu] [varchar](255) NULL,
	[bai_tap_nghe_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cau_hoi_bai_thi_thu]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cau_hoi_bai_thi_thu](
	[cauhoibaithithuid] [int] NOT NULL,
	[audiomp3] [varchar](255) NULL,
	[correctanswer] [nvarchar](255) NULL,
	[dap_an_user] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[number] [int] NULL,
	[option1] [nvarchar](255) NULL,
	[option2] [nvarchar](255) NULL,
	[option3] [nvarchar](255) NULL,
	[option4] [nvarchar](255) NULL,
	[paragraph] [text] NULL,
	[question] [nvarchar](255) NULL,
	[baithithuid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cauhoibaithithuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_grammar]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_grammar](
	[cmtgrammarid] [int] IDENTITY(1,1) NOT NULL,
	[cmtgrammarcontent] [nvarchar](255) NULL,
	[time] [datetime2](7) NULL,
	[baigrammarid] [int] NOT NULL,
	[id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cmtgrammarid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_tu_vung]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_tu_vung](
	[cmtvocabularyid] [int] IDENTITY(1,1) NOT NULL,
	[cmtvocabularycontent] [nvarchar](255) NULL,
	[time] [datetime2](7) NULL,
	[baitaptuvungid] [int] NOT NULL,
	[id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cmtvocabularyid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ket_qua]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ket_qua](
	[ketquaid] [int] IDENTITY(1,1) NOT NULL,
	[correctlisten] [int] NULL,
	[correctread] [int] NULL,
	[time] [datetime2](7) NULL,
	[socaudung] [int] NULL,
	[socausai] [int] NULL,
	[baithithuid] [int] NOT NULL,
	[nguoidungid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ketquaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dia_chi] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[ho_ten] [nvarchar](255) NULL,
	[password] [varchar](255) NULL,
	[so_dien_thoai] [varchar](255) NULL,
	[vai_tro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[noi_dung_bai_tu_vung]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noi_dung_bai_tu_vung](
	[noidungbaituvungid] [int] IDENTITY(1,1) NOT NULL,
	[audiomp3] [varchar](255) NULL,
	[content] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
	[meaning] [nvarchar](255) NULL,
	[number] [int] NULL,
	[sentence] [nvarchar](255) NULL,
	[transcribe] [nvarchar](255) NULL,
	[baitaptuvungid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[noidungbaituvungid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slidebanner]    Script Date: 4/11/2023 3:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slidebanner](
	[slidebannerid] [int] NOT NULL,
	[slidecontent] [varchar](255) NULL,
	[slideimage] [varchar](255) NULL,
	[slidename] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slidebannerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cau_hoi_bai_tap_doc]  WITH CHECK ADD  CONSTRAINT [FKec05quu61nalb96kvo06m5lm4] FOREIGN KEY([bai_tap_doc_id])
REFERENCES [dbo].[bai_tap_doc] ([id])
GO
ALTER TABLE [dbo].[cau_hoi_bai_tap_doc] CHECK CONSTRAINT [FKec05quu61nalb96kvo06m5lm4]
GO
ALTER TABLE [dbo].[cau_hoi_bai_tap_nghe]  WITH CHECK ADD  CONSTRAINT [FK569ojxvjejlo12dd1x95yhwu5] FOREIGN KEY([bai_tap_nghe_id])
REFERENCES [dbo].[bai_tap_nghe] ([id])
GO
ALTER TABLE [dbo].[cau_hoi_bai_tap_nghe] CHECK CONSTRAINT [FK569ojxvjejlo12dd1x95yhwu5]
GO
ALTER TABLE [dbo].[cau_hoi_bai_thi_thu]  WITH CHECK ADD  CONSTRAINT [FKe2uv4c5hiy47l9utxyltela8d] FOREIGN KEY([baithithuid])
REFERENCES [dbo].[bai_thi_thu] ([baithithuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cau_hoi_bai_thi_thu] CHECK CONSTRAINT [FKe2uv4c5hiy47l9utxyltela8d]
GO
ALTER TABLE [dbo].[comment_grammar]  WITH CHECK ADD  CONSTRAINT [FKfemqtykw679muo86sadwe7ec3] FOREIGN KEY([id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment_grammar] CHECK CONSTRAINT [FKfemqtykw679muo86sadwe7ec3]
GO
ALTER TABLE [dbo].[comment_grammar]  WITH CHECK ADD  CONSTRAINT [FKoqdhw1u7geuy8x02fteb4j8pg] FOREIGN KEY([baigrammarid])
REFERENCES [dbo].[bai_grammar] ([baigrammarid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment_grammar] CHECK CONSTRAINT [FKoqdhw1u7geuy8x02fteb4j8pg]
GO
ALTER TABLE [dbo].[comment_tu_vung]  WITH CHECK ADD  CONSTRAINT [FK8tmjurh2c9w97cqvlim336wxa] FOREIGN KEY([id])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment_tu_vung] CHECK CONSTRAINT [FK8tmjurh2c9w97cqvlim336wxa]
GO
ALTER TABLE [dbo].[comment_tu_vung]  WITH CHECK ADD  CONSTRAINT [FKc318s9a1ynvshxfjj7rj14s7y] FOREIGN KEY([baitaptuvungid])
REFERENCES [dbo].[bai_tap_tu_vung] ([baitaptuvungid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment_tu_vung] CHECK CONSTRAINT [FKc318s9a1ynvshxfjj7rj14s7y]
GO
ALTER TABLE [dbo].[ket_qua]  WITH CHECK ADD  CONSTRAINT [FK7tu3h8lgrgirbano5u7khf8l7] FOREIGN KEY([baithithuid])
REFERENCES [dbo].[bai_thi_thu] ([baithithuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ket_qua] CHECK CONSTRAINT [FK7tu3h8lgrgirbano5u7khf8l7]
GO
ALTER TABLE [dbo].[ket_qua]  WITH CHECK ADD  CONSTRAINT [FKeiiibwj68arv48msgk6n2jky4] FOREIGN KEY([nguoidungid])
REFERENCES [dbo].[nguoi_dung] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ket_qua] CHECK CONSTRAINT [FKeiiibwj68arv48msgk6n2jky4]
GO
ALTER TABLE [dbo].[noi_dung_bai_tu_vung]  WITH CHECK ADD  CONSTRAINT [FK3xu0kv4p43fi7qa9mmj9em9oc] FOREIGN KEY([baitaptuvungid])
REFERENCES [dbo].[bai_tap_tu_vung] ([baitaptuvungid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[noi_dung_bai_tu_vung] CHECK CONSTRAINT [FK3xu0kv4p43fi7qa9mmj9em9oc]
GO



SET IDENTITY_INSERT bai_grammar ON
GO

SET IDENTITY_INSERT bai_grammar OFF
GO


DROP DATABASE LearnEnglishToeic
GO
CREATE DATABASE LearnEnglishToeic
GO
USE LearnEnglishToeic
GO

USE master

SET IDENTITY_INSERT bai_tap_tu_vung ON
INSERT INTO bai_tap_tu_vung ([baitaptuvungid],[anhbaituvung],[tenbaituvung]) VALUES 
(2,'2.business plan.jpg','Lesson 1 - Business planning'),
(3,'3.computerandtheinternet.jpg','Lesson 2 - Computer and the internet'),
(4,'4.Salaries-and-Benefits.jpg','Lesson 3 - Salaries & Benefits'),
(5,'5.summer.jpg','Lesson 4- Summer'),(6,'6.summer.jpg','Lesson 5- Summer');
SET IDENTITY_INSERT bai_tap_tu_vung OFF
GO

SET IDENTITY_INSERT noi_dung_bai_tu_vung ON
GO

SET IDENTITY_INSERT noi_dung_bai_tu_vung OFF
GO


SET IDENTITY_INSERT bai_thi_thu ON
GO
INSERT INTO bai_thi_thu([baithithuid], [anhbaithithu], [tenbaithithu]) VALUES 
(1,'1.mini-test.png','Practice Mini Test 1 - Test  TOEIC Reading, Listening'),
(2,'2.exam-test.jpeg','Practice Mini Test 2 - Test  TOEIC Reading, Listening'),
(3,'3.mini-test.png','Practice Mini Test 3 - Test  TOEIC Reading, Listening'),
(4,'4.exam-test.jpeg','Practice Mini Test 4 - Test  TOEIC Reading, Listening'),
(5,'5.exam-test.jpeg','Practice Mini Test 5 - Test  TOEIC Reading, Listening')
GO
SET IDENTITY_INSERT bai_thi_thu OFF
GO




GO



SET IDENTITY_INSERT nguoi_dung ON

INSERT INTO nguoi_dung VALUES 
(1,NULL,'admin@gmail.com',N'Vương Công Thuật','$2a$10$Wm/.xaMmNZgAwA0ys5K.K.1xLzVmoX68nyqrFPqEARdrSow8aeVAy','123456789',2),
(2,NULL,'member@gmail.com',N'Hoàng Văn Diệu','$2a$10$g3O3lxP.ij2kjP3nsjpuiuDgD00Y/IfgphQJI920zu/6VikIWgTae','123456789',1);

SET IDENTITY_INSERT nguoi_dung OFF
GO


SET IDENTITY_INSERT noi_dung_bai_tu_vung ON


SET IDENTITY_INSERT noi_dung_bai_tu_vung OFF
GO


INSERT INTO slidebanner VALUES 
(1,N'Bài Tập Reading, Listening',N'Chúng tôi cung cấp cho các bạn các dạng bài tập hay, bổ ích',Nˈslide2'),
(2,Nˈthi Thử Toiec Online',Nˈsau khi có kiến thức vững vàng, các bạn được trải nghiệm thi online',N'bbb');
GO


